					<!-- It will show only the geolocalizated tweets!! -->
							<% user = User.find_by(tweet.user_id) %>
								<div id="image"><a target="_blank" href="https://twitter.com/<%= user.username %>"><img src="<%= user.profile_image %>" /></a></div>
								<div id="name">
									<h1><%= user.name %></h1>
									<h2>@<%= user.username %></h2>
								</div>
								<br />
								<div id="text"><%= tweet.text %></div>
								<div id="picture"><a target="_blank" href="https://twitter.com/<%= user.username %>/status/<%= tweet.id %>"><img src="<%= tweet.img_url %>"  width="280"></a></div>
								<div id="date">
									<h2><%= tweet.date_tweet.strftime('%I:%M %p - %d %b %y') %></h2>
								</div>
								<% if (session[tweet.id] == 'select_up') %>
								<div id="vote_up">
									<%= link_to :controller => "tweet", :id_tweet => tweet.id, :vote => 'unselectUp', :remote => true do %>
									<img id="vote_buttons" src="like_active.png">
									<% end %>
								</div>
								<div id="vote_down">
									<%= link_to :controller => "tweet", :id_tweet => tweet.id, :vote => 'down', :remote => true do %>
									<img id="vote_buttons" src="dislike_disactive.png">
									<% end %>
								</div>
								<% elsif (session[tweet.id] == 'select_down') %>
								<div id="vote_up">
									<%= link_to :controller => "tweet", :id_tweet => tweet.id, :vote => 'up', :remote => true do %>
									<img id="vote_buttons" src="like_disactive.png">
									<% end %>
								</div>
								<div id="vote_down">
									<%= link_to :controller => "tweet", :id_tweet => tweet.id, :vote => 'unselectDown', :remote => true do %>
									<img id="vote_buttons" src="dislike_active.png">
									<% end %>
								</div>
								<% else %>
								<div id="vote_up">
									<%= link_to :controller => "tweet", :id_tweet => tweet.id, :vote => 'up', :remote => true do %>
									<img id="vote_buttons" src="like_disactive.png">
									<% end %>
								</div>
								<div id="vote_down">
									<%= link_to :controller => "tweet", :id_tweet => tweet.id, :vote => 'down', :remote => true do %>
									<img id="vote_buttons" src="dislike_disactive.png">
									<% end %>
								</div>
								<hr>
							<% end %>
