<%= paginator.render do -%>
	<div id="paginator">
		<div id="sub_paginator">
			<div class="btn-group">
			  <%= first_page_tag %>	    		      
		      <%= prev_page_tag %>
		      <label class="btn btn-primary btn-lg" disabled="disabled">
		      <%= current_page %> de <%= num_pages %>
		      </label>
		      <%= next_page_tag %> 
		      <%= last_page_tag %>
		    </div>
		</div>
	</div>
<% end -%>

