<html>
	<head>
		<!--FancyBox-->
		<script>
			$("#about").fancybox({
			'width'         : '400px',
			'height'        : '300px',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe',
			'enableEscapeButton' : true
		});
		
			$("#statistics").fancybox({
			'width'         : '600px',
			'height'        : '400px',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe',
			'enableEscapeButton' : true
		});
		</script>
		
	</head>

	<body>
		<div id="header">
			<title1>#biobr</title1>
		</div>
	
	<div id="content">
		<% @tweets.each do |tweet| %>
			<% user = User.find_by_id_user(tweet.id_user) %>
			<div id="image"><img src="<%= user.profile_image %>" /></div>
			<div id="name"><h1><%= user.name %></h1><h2>@<%= user.username %></h2></div>
			<br />
			<div id="text"><%= tweet.text %></div>
			<div id="picture"><img src="<%= tweet.img_url %>"  width="300"></div>
			<hr />
		<% end %>
		
		<%= will_paginate @tweets %>
	</div>

		<div id="footer">
			<a id="about" class="fancybox" rel="group" href="sobre" title="Sobre"><title2>Sobre</title2></a>
			<a id="statistics" class="fancybox" rel="group" href="estatisticas" title="Estatísticas"><title2>Estatísticas</title2></a>
		</div>
		
		
		<%= gmaps4rails(@json) %>
		
		
	</body>
</html>
