<html>
	<head>
		<!--FancyBox-->
		<script>
			$("#about").fancybox({
			'width'         : '400px',
			'height'        : '300px',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe'
		});
			$("#statistics").fancybox({
			'width'         : '600px',
			'height'        : '400px',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe'
		});
		</script>
		
		<!-- Esse é o style dos tweets laterais -->
		<style>
			#image {float:left;margin-left: 3px;margin-top:3px;}
			#name {float:left;margin-left: 3px;margin-top:3px;}
			#username {float:left;margin-left: 3px;margin-top:4px;}
			#text {float:left;}
			#picture {postion:absolute;left: 10px;}
		</style>
		
	</head>

	<body>
		<div id="header">
			<title1>#biobr</title1>
		</div>

	<div id="content">
		<% Tweet.all.reverse.each do |tweet| %>
			<% user = User.find_by_id_user(tweet.id_user) %>
			<div id="image"><img src="<%= user.profile_image %>" /></div>
			<div id="name"><h1><%= user.name %></h1></div>
			<br />
			<div id="username"><h2>@<%= user.username %></h2></div>
			<br />
			<div id="text"><%= tweet.text %></div>
			<div id="picture"><img src="<%= tweet.img_url %>"  width="300"></div>
			<br />
			<hr />
		<% end %>
	</div>

		<div id="footer">
			<a id="about" class="fancybox" rel="group" href="sobre" title="Sobre"><title2>Sobre</title2></a>
			<a id="statistics" class="fancybox" rel="group" href="estatisticas" title="Estatísticas"><title2>Estatísticas</title2></a>
		</div>

		<%= gmaps4rails(@json) %>
	
	</body>
</html>
