<html>
	<body>
		<p>Quantidade tweets: <%= Tweet.all.count %></p>
		<p>Último Tweet Postado Em: <%= Tweet.all.last.date_tweet.strftime('%a %d %b %Y') %></p>
		<p>Uso de Hashtags</p>
		<p>#faunausp: <%= Tweet.select('text').where('text like ?',"%#faunausp%").all.count %></p>
		<p>#florausp: <%= Tweet.select('text').where('text like ?',"%#florausp%").all.count %></p>
		<p>#biousp: <%= Tweet.select('text').where('text like ?',"%#biousp%").all.count %></p>
		<p>#biobr: <%= Tweet.select('text').where('text like ?',"%#biobr%").all.count %></p>
		<p>#florabr: <%= Tweet.select('text').where('text like ?',"%#florabr%").all.count %></p>
		<p>#faunabr: <%= Tweet.select('text').where('text like ?',"%#faunabr%").all.count %></p>
		<p>#worldbio: <%= Tweet.select('text').where('text like ?',"%#worldbio%").all.count %></p>
	</body>
</html>
