
		<script>
			$("#photo").fancybox({
			'width'         : '400px',
			'height'        : '300px',
			'autoScale'     : false,
			'transitionIn'  : 'none',
			'transitionOut' : 'none',
			'type'          : 'iframe',
			'enableEscapeButton' : true
		});
		</script>
	
	<div id="sidebar">
		<!-- We gonna show only the geolocalizated tweets!! -->
		<% @tweets.each do |tweet| %>
			<% user = User.find_by_id_user(tweet.id_user) %>
			
			
			<div id="image"><a target="_blank" href="https://twitter.com/<%= user.username %>"><img src="<%= user.profile_image %>" /></a></div>
			<div id="name"><h1><%= user.name %></h1><h2>@<%= user.username %></h2></div>
			<br />
			<div id="text"><%= tweet.text %></div>
			<div id="picture"><a target="_blank" href="https://twitter.com/<%= user.username %>/status/<%= tweet.id %>"><img src="<%= tweet.img_url %>"  width="280"></a></div>
			<div id="date"><h2><%= tweet.date_tweet.strftime('%I:%M %p - %d %b %y') %></h2></div>
			<% if (session[tweet.id] == 'select_up') %>
			<div id="vote_up"><%= button_to( "<<Like>>", :action => "create", :controller => "tweet", :id_tweet => tweet.id, :vote => 'unselectUp')%></div>
			<div id="vote_down"><%= button_to( "Dislike", :action => "create", :controller => "tweet", :id_tweet => tweet.id, :vote => 'down') %> </div>
			<% elsif (session[tweet.id] == 'select_down') %>
			<div id="vote_up"><%= button_to( "Like", :action => "create", :controller => "tweet", :id_tweet => tweet.id, :vote => 'up')%> </div>
			<div id="vote_down"><%= button_to( "<< Dislike >>", :action => "create", :controller => "tweet", :id_tweet => tweet.id, :vote => 'unselectDown')%></div>
			<% else %>
			<div id="vote_up"><%= button_to( "Like", :action => "create", :controller => "tweet", :id_tweet => tweet.id, :vote => 'up')%> </div>
			<div id="vote_down"><%= button_to( "Dislike", :action => "create", :controller => "tweet", :id_tweet => tweet.id, :vote => 'down') %> </div>
			<% end %>
			<hr />
		<% end %>
		
		<div id="paginate"><%= will_paginate @tweets %></div>
		<br/>
	</div>
	
