	<div id="sidebar">
		<% @tweets.each do |tweet| %>
			<% user = User.find_by_id_user(tweet.id_user) %>
			<div id="image"><a href="https://twitter.com/<%= user.username %>/status/<%= tweet.id %>"><img src="<%= user.profile_image %>" /></a></div>
			<div id="name"><h1><%= user.name %></h1><h2>@<%= user.username %></h2></div>
			<br />
			<div id="text"><%= tweet.text %></div>
			<div id="picture"><img src="<%= tweet.img_url %>"  width="300"></div>
			<div><h1>+   -     D</h1></div>
			<hr />
		<% end %>
		
		<%= will_paginate @tweets %>
		<br/>
	</div>